<h1>Web application Challenge 3</h1>

<%= form_tag({controller: "houses", action: "import_csv", method: "post"}, {multipart: true}) do %>
  <div class="field">
    <%= label_tag " 家庭情報関連のcsvファイルを選択してください" %><br>
    <%= file_field_tag :csv_file %>
    →
　　<%= submit_tag "CSVファイルを読み込む"%>
　</div>
<% end %>
</br>
<%= link_to '家庭情報作成', new_house_path  %>
</br>
</br>
<%=  link_to '(エネルギー一覧はこちら)', energies_path %>
</br>
</br>
<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>City</th>
      <th>Num of people</th>
      <th>Has child</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= house.firstname %></td>
        <td><%= house.lastname %></td>
        <td><%= house.city %></td>
        <td><%= house.num_of_people %></td>
        <td><%= house.has_child %></td>
        <td><%= link_to '詳細', house %></td>
        <td><%= link_to '編集', edit_house_path(house) %></td>
        <td><%= link_to '削除', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
