<h1>Create new house</h1>
<%= form_for(@house) do |f| %>
  <div>
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>
  <div>
 	  <%= f.label :lastname  %>
    <%= f.text_field :lastname %>
  </div>
  <div>
  	<%= f.label :city %>
    <%= f.text_field :city%>
  </div>
  <div>
  	<%= f.label :num_of_people%>
    <%= f.number_field :num_of_people%>
  </div>
  <div>
  	<%= f.label :has_child%>
    <%= f.select :has_child, [["Yes", "Yes"], ["No", "No"]]%>
  </div>
  <div>
  	<%= f.submit "send"%>
  </div>
  <div><%= link_to 'index', root_path%></div>
<% end %>

